In [2]:
import sqlite3

In [3]:
#import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
        

def main():
    database = "sqlite_db_pythonsqlite.db" 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [4]:
def Q10(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query10 = """
        SELECT subquery.name, subquery.revenue
        FROM
            (SELECT f.name, 
             SUM( CASE WHEN b.memid =0 THEN b.slots * f.guestcost
                      ELSE b.slots * f.membercost END ) AS revenue
             FROM `Facilities` AS f
                 INNER JOIN `Bookings` AS b 
                 ON f.facid = b.facid
        GROUP BY f.name) AS subquery

        WHERE subquery.revenue < 1000
        ORDER BY subquery.revenue
        """
    cur.execute(query10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main_Q10():
    database = "sqlite_db_pythonsqlite.db" 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q10: List of facilities with a total revenue less than 1000.")
        Q10(conn)
 
 
if __name__ == '__main__':
    main_Q10()

2.6.0
Q10: List of facilities with a total revenue less than 1000.
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [6]:
def Q11(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query11 = """
        SELECT m.memid, m.surname, m.firstname, (r.firstname || ' ' || r.surname) AS recommender
        FROM `Members` AS m
        INNER JOIN `Members` AS r
        ON m.recommendedby = r.memid
        WHERE m.memid != 0
        ORDER BY m.surname, m.firstname
        """
    cur.execute(query11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main_Q11():
    database = "sqlite_db_pythonsqlite.db" 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("Q11: Report of members and who recommended them in alphabetic surname,firstname order")
        Q11(conn)
 
 
if __name__ == '__main__':
    main_Q11()

2.6.0
Q11: Report of members and who recommended them in alphabetic surname,firstname order
(15, 'Bader', 'Florence', 'Ponder Stibbons')
(12, 'Baker', 'Anne', 'Ponder Stibbons')
(16, 'Baker', 'Timothy', 'Jemima Farrell')
(8, 'Boothe', 'Tim', 'Tim Rownam')
(5, 'Butters', 'Gerald', 'Darren Smith')
(22, 'Coplin', 'Joan', 'Timothy Baker')
(36, 'Crumpet', 'Erica', 'Tracy Smith')
(7, 'Dare', 'Nancy', 'Janice Joplette')
(20, 'Genting', 'Matthew', 'Gerald Butters')
(35, 'Hunt', 'John', 'Millicent Purview')
(11, 'Jones', 'David', 'Janice Joplette')
(26, 'Jones', 'Douglas', 'David Jones')
(4, 'Joplette', 'Janice', 'Darren Smith')
(21, 'Mackenzie', 'Anna', 'Darren Smith')
(10, 'Owen', 'Charles', 'Darren Smith')
(17, 'Pinker', 'David', 'Jemima Farrell')
(30, 'Purview', 'Millicent', 'Tracy Smith')
(27, 'Rumney', 'Henrietta', 'Matthew Genting')
(24, 'Sarwin', 'Ramnaresh', 'Florence Bader')
(14, 'Smith', 'Jack', 'Darren Smith')
(9, 'Stibbons', 'Ponder', 'Burton Tracy')
(29, 'Worthington-Smyth', 'Henry', 'Tracy Smith')